AccessModifierOffset : -4
AllowShortIfStatementsOnASingleLine : true
BreakBeforeBraces : WebKit
ColumnLimit : 100
DerivePointerAlignment : false
PointerAlignment : Left
IndentWidth : 4
IndentCaseLabels : true
AlwaysBreakTemplateDeclarations : Yes